#app {
  color: white;
  font-family: 'Poppins', sans-serif; }

.darkBG {
  position: fixed;
  background: url("../../img/rawpixel-1054553-unsplash.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; }
  .darkBG::before {
    position: absolute;
    content: '';
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 100%; }

.frontWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden; }
  .frontWrapper > main {
    position: relative; }
    .frontWrapper > main > .helloBlock {
      position: absolute;
      left: -190px;
      top: 10px;
      width: 700px;
      height: 700px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      transform: rotate(-34deg);
      transition: all .8s ease-out; }
      .frontWrapper > main > .helloBlock > div {
        position: absolute;
        left: 240px;
        top: 243px;
        line-height: 1;
        display: flex;
        flex-direction: column;
        transform: rotate(34deg); }
        .frontWrapper > main > .helloBlock > div > span {
          text-align: left;
          width: 100%;
          font-size: 26px;
          font-weight: 300;
          margin: 0 0 25px 0;
          letter-spacing: 4px; }
        .frontWrapper > main > .helloBlock > div > h1 {
          text-align: left;
          width: 100%;
          font-weight: 700;
          font-size: 50px;
          margin: 0 0 24px 0;
          letter-spacing: 4px; }
        .frontWrapper > main > .helloBlock > div > h2 {
          text-align: left;
          width: 100%;
          font-size: 26px;
          font-weight: 700;
          letter-spacing: 20px; }
        .frontWrapper > main > .helloBlock > div > .resumeDownload {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          position: relative;
          width: 250px;
          height: 48px;
          margin: 34px 0 0 0;
          border: 1px solid transparent;
          background: #333333;
          border-radius: 1px; }
          .frontWrapper > main > .helloBlock > div > .resumeDownload::after {
            content: 'DOWNLOAD RESUME';
            position: absolute;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 13px;
            letter-spacing: 2px;
            font-weight: 600;
            left: -20px; }
          .frontWrapper > main > .helloBlock > div > .resumeDownload > svg {
            width: 32px;
            height: 32px;
            margin: 0 10px 0 0;
            fill: white; }
        .frontWrapper > main > .helloBlock > div > .media {
          display: flex;
          margin: 84px 0 0 0; }
          .frontWrapper > main > .helloBlock > div > .media > a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border: 1px solid white; }
            .frontWrapper > main > .helloBlock > div > .media > a > svg {
              width: 12px;
              height: 12px;
              fill: white; }
    .frontWrapper > main > .helloBlock.active {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      border: none;
      height: 100vh;
      width: 30%;
      transform: rotate(0deg);
      transition: all .8s ease-out; }
      .frontWrapper > main > .helloBlock.active > div {
        position: unset;
        transform: rotate(0deg); }
    .frontWrapper > main > .menuBlock {
      position: relative; }
      .frontWrapper > main > .menuBlock > div {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 430px;
        height: 400px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        transition: all 0.5s; }
        .frontWrapper > main > .menuBlock > div:hover {
          border: 15px solid rgba(255, 255, 255, 0.1);
          background: rgba(0, 0, 0, 0.1); }
          .frontWrapper > main > .menuBlock > div:hover > h2 > a::before {
            top: -10px;
            left: -40px; }
          .frontWrapper > main > .menuBlock > div:hover > h2 > a::after {
            top: 12px;
            left: -40px; }
        .frontWrapper > main > .menuBlock > div > h2 {
          width: inherit;
          height: inherit;
          font-size: 27px;
          font-weight: 600;
          transform: rotate(34deg);
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .frontWrapper > main > .menuBlock > div > h2 > a {
            position: relative;
            margin: 50px;
            letter-spacing: 2px; }
            .frontWrapper > main > .menuBlock > div > h2 > a::before {
              content: '02';
              position: absolute;
              font-size: 14px;
              left: -23px;
              top: -30px;
              transition: 0.5s ease-out; }
            .frontWrapper > main > .menuBlock > div > h2 > a::after {
              content: '';
              position: absolute;
              background: white;
              width: 70px;
              height: 1px;
              top: -3px;
              left: -22px;
              transition: 0.5s ease-out; }
      .frontWrapper > main > .menuBlock > .profile {
        height: 300px;
        left: 382px;
        top: -151px;
        transform: rotate(-34deg); }
        .frontWrapper > main > .menuBlock > .profile > h2 {
          padding: 150px 0 0 70px; }
          .frontWrapper > main > .menuBlock > .profile > h2 > a::before {
            content: '01'; }
      .frontWrapper > main > .menuBlock > .portfolio {
        left: 577px;
        top: 89px;
        transform: rotate(-34deg); }
      .frontWrapper > main > .menuBlock > .blog {
        height: 300px;
        left: 772px;
        top: 428px;
        transform: rotate(-34deg); }
        .frontWrapper > main > .menuBlock > .blog > h2 {
          padding-left: 50px; }
          .frontWrapper > main > .menuBlock > .blog > h2 > a::before {
            content: '03'; }
      .frontWrapper > main > .menuBlock > .contact {
        left: 1067px;
        top: 48px;
        transform: rotate(-34deg); }
        .frontWrapper > main > .menuBlock > .contact > h2 > a::before {
          content: '04'; }

.profileWrapper, .portfolioWrapper, .conWrapper {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 70%;
  background: white;
  color: black;
  overflow: auto; }

.fade-enter {
  opacity: 0; }

.fade-enter-active {
  transition: opacity .8s; }

.hello-enter {
  transform-origin: center;
  transform: rotate(-34deg); }

.hello-enter-active {
  transition: all .8s; }

.hideTopNav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
  height: 40px;
  background: #F1F3F6;
  position: fixed;
  right: 0;
  z-index: 1;
  top: -40px;
  transition: all .8s ease-out; }
  .hideTopNav > ul {
    display: inherit; }
    .hideTopNav > ul > li {
      padding: 0 15px;
      font-weight: 600;
      cursor: pointer;
      color: #666; }
      .hideTopNav > ul > li:hover {
        color: black;
        font-weight: bold;
        transition: all .5s; }
  .hideTopNav > a > svg {
    fill: #666666;
    margin: 40px;
    font-size: 14px; }

.hideTopNav.active {
  top: 0; }

.page {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column; }
  .page > section {
    margin-left: 7%;
    margin-right: 7%; }
    .page > section > h2 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 600;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
      margin-bottom: 30px;
      letter-spacing: 2px; }
  .page > section.info {
    padding: 20px 0;
    margin-bottom: 20px;
    margin-top: 95px; }
    .page > section.info > dl {
      display: flex;
      flex-wrap: wrap; }
      .page > section.info > dl > div {
        display: flex;
        align-items: center;
        width: 45%;
        margin: 15px 0;
        color: #727272; }
        .page > section.info > dl > div > .span {
          color: #333333; }
      .page > section.info > dl:nth-child(2), .page > section.info > dl:nth-child(4), .page > section.info > dl:nth-child(6) {
        width: 65%; }
  .page > section.skills {
    padding: 20px 0;
    margin-bottom: 20px; }
    .page > section.skills > dl {
      display: flex;
      flex-wrap: wrap; }
      .page > section.skills > dl > dt {
        border: 1px solid red;
        width: 14%; }
      .page > section.skills > dl > dd {
        border: 1px solid green;
        width: 86%;
        margin-left: auto; }
  .page > section.skill > h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 30px; }
  .page > section.skill > h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px; }
  .page > section.skill > ol {
    height: 250px;
    background: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px; }
    .page > section.skill > ol > li {
      float: left;
      width: 48%;
      box-sizing: border-box; }
      .page > section.skill > ol > li:nth-child(even) {
        float: right; }
    .page > section.skill > ol .progressBar {
      height: 2px;
      background: #dddddd;
      border-radius: 2px;
      margin: 4px 0 40px;
      overflow: hidden; }
      .page > section.skill > ol .progressBar > .progress {
        height: 100%;
        background: #666666;
        width: 70%;
        border-radius: 2px;
        transform: translateX(0);
        transition: all 1s; }
  .page > section.skill .offset .progress {
    transform: translateX(-100%); }
  .page section.portfolio {
    padding: 20px 0;
    margin-bottom: 20px;
    margin-top: 95px;
    display: flex;
    flex-direction: column; }
    .page section.portfolio > .filters {
      display: flex;
      margin-top: 20px;
      margin-bottom: 55px; }
      .page section.portfolio > .filters > ol {
        display: flex; }
        .page section.portfolio > .filters > ol > li {
          font-weight: 500;
          cursor: pointer;
          margin-right: 35px;
          transition: all 0.3s ease;
          color: #727272; }
      .page section.portfolio > .filters > span {
        font-weight: 300;
        color: #727272;
        margin-right: 25px; }
    .page section.portfolio > .works {
      border: 1px solid transparent;
      position: relative; }
      .page section.portfolio > .works > .work1 {
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer; }
        .page section.portfolio > .works > .work1:hover > .blackBG {
          background: black;
          opacity: 0.8; }
        .page section.portfolio > .works > .work1:hover > .workName {
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
          z-index: 2; }
        .page section.portfolio > .works > .work1:hover > .detail {
          top: 50%;
          transform: translate(-50%, 185%);
          opacity: 1;
          z-index: 2; }
        .page section.portfolio > .works > .work1 > li {
          width: 18vw;
          height: 27vw;
          box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.45);
          background-image: url("http://pg4xp1tlk.bkt.clouddn.com/PureCss-2.jpg");
          background-size: cover; }
        .page section.portfolio > .works > .work1 > .blackBG {
          position: absolute;
          left: 0;
          top: 0;
          width: 18vw;
          height: 27vw;
          z-index: 1; }
        .page section.portfolio > .works > .work1 > .workName {
          position: absolute;
          color: #fff;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -15%);
          font-weight: 600;
          letter-spacing: 1px;
          z-index: -2;
          opacity: 0;
          transition: all .7s; }
          .page section.portfolio > .works > .work1 > .workName:after {
            content: '';
            position: absolute;
            width: 40px;
            height: 2px;
            background: #F1F3F6;
            left: 0;
            bottom: -25px;
            right: 0;
            margin: auto; }
        .page section.portfolio > .works > .work1 > .detail {
          position: absolute;
          color: #fff;
          left: 50%;
          top: 50%;
          font-size: 12px;
          transform: translate(-50%, 160%);
          font-weight: 600;
          letter-spacing: 1px;
          z-index: -2;
          opacity: 0;
          transition: all .7s; }
      .page section.portfolio > .works > .work2 {
        position: absolute;
        left: 20vw; }
        .page section.portfolio > .works > .work2:hover > .blackBG2 {
          background: black;
          opacity: 0.8; }
        .page section.portfolio > .works > .work2:hover > .workName {
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
          z-index: 2; }
        .page section.portfolio > .works > .work2:hover > .detail {
          top: 50%;
          transform: translate(-50%, 185%);
          opacity: 1;
          z-index: 2; }
        .page section.portfolio > .works > .work2 > li {
          width: 18vw;
          height: 11vw;
          box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.45);
          background-image: url("http://pg4xp1tlk.bkt.clouddn.com/163music.jpeg");
          background-size: 100% 100%; }
        .page section.portfolio > .works > .work2 .blackBG2 {
          position: absolute;
          width: 18vw;
          height: 11vw;
          z-index: 1; }
        .page section.portfolio > .works > .work2 > .workName {
          position: absolute;
          color: #fff;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -15%);
          font-weight: 600;
          letter-spacing: 1px;
          z-index: -2;
          opacity: 0;
          transition: all .7s; }
          .page section.portfolio > .works > .work2 > .workName:after {
            content: '';
            position: absolute;
            width: 40px;
            height: 2px;
            background: #F1F3F6;
            left: 0;
            bottom: -25px;
            right: 0;
            margin: auto; }
        .page section.portfolio > .works > .work2 > .detail {
          position: absolute;
          color: #fff;
          left: 50%;
          top: 50%;
          font-size: 12px;
          transform: translate(-50%, 160%);
          font-weight: 600;
          letter-spacing: 1px;
          z-index: -2;
          opacity: 0;
          transition: all .7s; }
      .page section.portfolio > .works > .work3 {
        position: absolute;
        left: 20vw;
        top: 13vw; }
        .page section.portfolio > .works > .work3:hover > .blackBG3 {
          background: black;
          opacity: 0.8; }
        .page section.portfolio > .works > .work3:hover > .workName {
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
          z-index: 2; }
        .page section.portfolio > .works > .work3:hover > .detail {
          top: 50%;
          transform: translate(-50%, 185%);
          opacity: 1;
          z-index: 2; }
        .page section.portfolio > .works > .work3 > li {
          width: 18vw;
          height: 11vw;
          box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.45);
          background-image: url("http://pg4xp1tlk.bkt.clouddn.com/nav-2.jpg");
          background-size: 100% 100%; }
        .page section.portfolio > .works > .work3 .blackBG3 {
          position: absolute;
          width: 18vw;
          height: 11vw;
          z-index: 1; }
        .page section.portfolio > .works > .work3 > .workName {
          position: absolute;
          color: #fff;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -15%);
          font-weight: 600;
          letter-spacing: 1px;
          z-index: -2;
          opacity: 0;
          transition: all .7s; }
          .page section.portfolio > .works > .work3 > .workName:after {
            content: '';
            position: absolute;
            width: 40px;
            height: 2px;
            background: #F1F3F6;
            left: 0;
            bottom: -25px;
            right: 0;
            margin: auto; }
        .page section.portfolio > .works > .work3 > .detail {
          position: absolute;
          color: #fff;
          left: 50%;
          top: 50%;
          font-size: 12px;
          transform: translate(-50%, 160%);
          font-weight: 600;
          letter-spacing: 1px;
          z-index: -2;
          opacity: 0;
          transition: all .7s; }
      .page section.portfolio > .works > .work4 {
        position: absolute;
        left: 20vw;
        top: 26vw; }
        .page section.portfolio > .works > .work4:hover > .blackBG4 {
          background: black;
          opacity: 0.8; }
        .page section.portfolio > .works > .work4:hover > .workName {
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
          z-index: 2; }
        .page section.portfolio > .works > .work4:hover > .detail {
          top: 50%;
          transform: translate(-50%, 185%);
          opacity: 1;
          z-index: 2; }
        .page section.portfolio > .works > .work4 > li {
          width: 18vw;
          height: 11vw;
          box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.45);
          background-image: url("http://pg4xp1tlk.bkt.clouddn.com/PersonalSite-2.jpg");
          background-size: cover; }
        .page section.portfolio > .works > .work4 .blackBG4 {
          position: absolute;
          width: 18vw;
          height: 11vw;
          z-index: 1; }
        .page section.portfolio > .works > .work4 > .workName {
          position: absolute;
          color: #fff;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -15%);
          font-weight: 600;
          letter-spacing: 1px;
          z-index: -2;
          opacity: 0;
          transition: all .7s; }
          .page section.portfolio > .works > .work4 > .workName:after {
            content: '';
            position: absolute;
            width: 40px;
            height: 2px;
            background: #F1F3F6;
            left: 0;
            bottom: -25px;
            right: 0;
            margin: auto; }
        .page section.portfolio > .works > .work4 > .detail {
          position: absolute;
          color: #fff;
          left: 50%;
          top: 50%;
          font-size: 12px;
          transform: translate(-50%, 160%);
          font-weight: 600;
          letter-spacing: 1px;
          z-index: -2;
          opacity: 0;
          transition: all .7s; }
      .page section.portfolio > .works > .work5 {
        position: absolute;
        left: 40vw; }
        .page section.portfolio > .works > .work5:hover > .blackBG5 {
          background: black;
          opacity: 0.8; }
        .page section.portfolio > .works > .work5:hover > .workName {
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
          z-index: 2; }
        .page section.portfolio > .works > .work5:hover > .detail {
          top: 50%;
          transform: translate(-50%, 185%);
          opacity: 1;
          z-index: 2; }
        .page section.portfolio > .works > .work5 > li {
          width: 18vw;
          height: 27vw;
          box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.45);
          background-image: url("http://pg4xp1tlk.bkt.clouddn.com/drawBorad-2.jpg");
          background-size: cover; }
        .page section.portfolio > .works > .work5 .blackBG5 {
          position: absolute;
          width: 18vw;
          height: 27vw;
          z-index: 1; }
        .page section.portfolio > .works > .work5 > .workName {
          position: absolute;
          color: #fff;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -15%);
          font-weight: 600;
          letter-spacing: 1px;
          z-index: -2;
          opacity: 0;
          transition: all .7s; }
          .page section.portfolio > .works > .work5 > .workName:after {
            content: '';
            position: absolute;
            width: 40px;
            height: 2px;
            background: #F1F3F6;
            left: 0;
            bottom: -25px;
            right: 0;
            margin: auto; }
        .page section.portfolio > .works > .work5 > .detail {
          position: absolute;
          color: #fff;
          left: 50%;
          top: 50%;
          font-size: 12px;
          transform: translate(-50%, 160%);
          font-weight: 600;
          letter-spacing: 1px;
          z-index: -2;
          opacity: 0;
          transition: all .7s; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
