@media (max-width: 1919px) and (min-width: 1280px) {
  .frontWrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden; }
    .frontWrapper > main {
      position: relative; }
      .frontWrapper > main > .helloBlock {
        position: absolute;
        left: -190px;
        top: 10px;
        width: 700px;
        height: 700px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        transform: rotate(-34deg);
        transition: all .8s ease-out; }
        .frontWrapper > main > .helloBlock > div {
          position: absolute;
          left: 240px;
          top: 243px;
          line-height: 1;
          display: flex;
          flex-direction: column;
          transform: rotate(34deg); }
          .frontWrapper > main > .helloBlock > div > span {
            text-align: left;
            width: 100%;
            font-size: 26px;
            font-weight: 300;
            margin: 0 0 25px 0;
            letter-spacing: 4px; }
          .frontWrapper > main > .helloBlock > div > h1 {
            text-align: left;
            width: 100%;
            font-weight: 700;
            font-size: 50px;
            margin: 0 0 24px 0;
            letter-spacing: 4px; }
          .frontWrapper > main > .helloBlock > div > h2 {
            text-align: left;
            width: 100%;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: 20px; }
          .frontWrapper > main > .helloBlock > div > .resumeDownload {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            width: 250px;
            height: 48px;
            margin: 34px 0 0 0;
            border: 1px solid transparent;
            background: #333333;
            border-radius: 1px; }
            .frontWrapper > main > .helloBlock > div > .resumeDownload::after {
              content: 'DOWNLOAD RESUME';
              position: absolute;
              width: 100%;
              color: white;
              text-align: center;
              font-size: 13px;
              letter-spacing: 2px;
              font-weight: 600;
              left: -20px; }
            .frontWrapper > main > .helloBlock > div > .resumeDownload > svg {
              width: 32px;
              height: 32px;
              margin: 0 10px 0 0;
              fill: white; }
          .frontWrapper > main > .helloBlock > div > .media {
            display: flex;
            margin: 84px 0 0 0; }
            .frontWrapper > main > .helloBlock > div > .media > a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 35px;
              height: 35px;
              border: 1px solid white; }
              .frontWrapper > main > .helloBlock > div > .media > a > svg {
                width: 12px;
                height: 12px;
                fill: white; }
      .frontWrapper > main > .helloBlock.active {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        height: 100vh;
        width: 30%;
        transform: rotate(0deg);
        transition: all .8s ease-out; }
        .frontWrapper > main > .helloBlock.active > div {
          position: unset;
          transform: rotate(0deg); }
      .frontWrapper > main > .menuBlock {
        position: relative; }
        .frontWrapper > main > .menuBlock > div {
          position: absolute;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 430px;
          height: 400px;
          border: 1px solid rgba(255, 255, 255, 0.4); }
          .frontWrapper > main > .menuBlock > div:hover {
            border: 15px solid rgba(255, 255, 255, 0.1);
            background: rgba(0, 0, 0, 0.1); }
        .frontWrapper > main > .menuBlock > .profile {
          height: 300px;
          left: 382px;
          top: -151px;
          transform: rotate(-34deg); }
        .frontWrapper > main > .menuBlock > .portfolio {
          left: 577px;
          top: 89px;
          transform: rotate(-34deg); }
        .frontWrapper > main > .menuBlock > .blog {
          height: 300px;
          left: 772px;
          top: 428px;
          transform: rotate(-34deg); }
        .frontWrapper > main > .menuBlock > .contact {
          left: 1067px;
          top: 48px;
          transform: rotate(-34deg); }

  .backWrapper {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 70%;
    background: white;
    color: black;
    overflow: auto; }

  .portfolioWrapper {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 70%;
    background: white;
    color: black;
    overflow: auto; }

  .conWrapper {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 70%;
    background: white;
    color: black;
    overflow: auto; }

  .fade-enter {
    opacity: 0; }

  .fade-enter-active {
    transition: opacity .8s; }

  .hello-enter {
    transform-origin: center;
    transform: rotate(-34deg); }

  .hello-enter-active {
    transition: all 1s; }

  .hideTopNav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
    height: 40px;
    background: #F1F3F6;
    position: fixed;
    right: 0;
    z-index: 1;
    top: -40px;
    transition: all .8s ease-out; }
    .hideTopNav > ul {
      display: inherit; }
      .hideTopNav > ul > li {
        padding: 0 15px;
        font-weight: 600;
        cursor: pointer;
        color: #666; }
    .hideTopNav > a > svg {
      fill: #666666;
      margin: 40px;
      font-size: 14px; }

  .hideTopNav.active {
    top: 0; }

  .page {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column; }
    .page > section {
      margin-left: 5%;
      margin-right: 5%; }
      .page > section > h2 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        margin-bottom: 30px; }
    .page > section.info {
      padding: 20px 0;
      margin-bottom: 20px;
      margin-top: 95px; }
      .page > section.info > dl {
        display: flex;
        flex-wrap: wrap; }
        .page > section.info > dl > dt {
          border: 1px solid red;
          width: 7%; }
        .page > section.info > dl > dd {
          border: 1px solid green;
          width: 43%;
          margin-left: auto; }
    .page > section.skills {
      padding: 20px 0;
      margin-bottom: 20px; }
      .page > section.skills > dl {
        display: flex;
        flex-wrap: wrap; }
        .page > section.skills > dl > dt {
          border: 1px solid red;
          width: 10%; }
        .page > section.skills > dl > dd {
          border: 1px solid green;
          width: 90%;
          margin-left: auto; }
    .page > section.skill > h2 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 600;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
      margin-bottom: 30px; }
    .page > section.skill > h3 {
      font-size: 14px;
      line-height: 1.1;
      padding-right: 40px; }
    .page > section.skill > ol {
      height: 250px;
      background: white;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
      padding: 42px 50px 10px;
      margin-top: 30px; }
      .page > section.skill > ol > li {
        float: left;
        width: 48%;
        box-sizing: border-box; }
        .page > section.skill > ol > li:nth-child(even) {
          float: right; }
      .page > section.skill > ol .progressBar {
        height: 2px;
        background: #dddddd;
        border-radius: 2px;
        margin: 4px 0 40px;
        overflow: hidden; }
        .page > section.skill > ol .progressBar > .progress {
          height: 100%;
          background: #666666;
          width: 70%;
          border-radius: 2px;
          transform: translateX(0);
          transition: all 1s; }
    .page > section.skill .offset .progress {
      transform: translateX(-100%); } }

/*# sourceMappingURL=media-1280-1919.css.map */
