@media (max-width: 768px) {
  .frontWrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: unset;
    top: unset;
    left: unset;
    overflow: hidden; }
    .frontWrapper > main {
      z-index: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: unset; }
      .frontWrapper > main > .helloBlock {
        display: flex;
        justify-content: flex-start;
        width: 80vw;
        margin-top: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        border-top: none;
        border-left: none;
        border-right: none;
        position: unset;
        left: unset;
        top: unset;
        height: unset;
        transform: unset;
        transition: unset; }
        .frontWrapper > main > .helloBlock > div {
          line-height: 1;
          display: flex;
          flex-direction: column;
          position: unset;
          left: unset;
          top: unset;
          transform: unset; }
          .frontWrapper > main > .helloBlock > div > .resumeDownload {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            width: 250px;
            height: 48px;
            margin: 34px 0 15px 0;
            border: 1px solid transparent;
            background: #333333;
            border-radius: 1px; }
            .frontWrapper > main > .helloBlock > div > .resumeDownload::after {
              content: 'DOWNLOAD RESUME';
              position: absolute;
              width: 100%;
              color: white;
              text-align: center;
              font-size: 13px;
              letter-spacing: 2px;
              font-weight: 600;
              left: -20px; }
            .frontWrapper > main > .helloBlock > div > .resumeDownload > svg {
              width: 32px;
              height: 32px;
              margin: 0 10px 0 0;
              fill: white; }
          .frontWrapper > main > .helloBlock > div > .media {
            display: none;
            margin: 84px 0 0 0; }
            .frontWrapper > main > .helloBlock > div > .media > a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 35px;
              height: 35px;
              border: 1px solid white; }
              .frontWrapper > main > .helloBlock > div > .media > a > svg {
                width: 12px;
                height: 12px;
                fill: white; }
      .frontWrapper > main > .menuBlock {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        position: unset; }
        .frontWrapper > main > .menuBlock > div {
          width: 80vw;
          display: flex;
          margin: 45px 0 0 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);
          transition: all 0.5s;
          border-top: none;
          border-left: none;
          border-right: none;
          position: unset;
          justify-content: unset;
          align-items: unset;
          height: unset; }
          .frontWrapper > main > .menuBlock > div:hover {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            background: unset; }
            .frontWrapper > main > .menuBlock > div:hover > h2 > a::before {
              top: -14px;
              left: -23px; }
            .frontWrapper > main > .menuBlock > div:hover > h2 > a::after {
              top: unset;
              left: unset; }
          .frontWrapper > main > .menuBlock > div > h2 {
            transform: rotate(0deg);
            width: 100%;
            height: 100%;
            margin: 0 0 33px 45px;
            padding: 0;
            font-size: 27px;
            font-weight: 600;
            display: unset; }
            .frontWrapper > main > .menuBlock > div > h2 > a {
              margin: 0;
              font-size: 20px;
              font-weight: 600; }
              .frontWrapper > main > .menuBlock > div > h2 > a::before {
                content: '';
                left: -23px;
                top: -14px; }
              .frontWrapper > main > .menuBlock > div > h2 > a::after {
                content: '';
                position: unset;
                background: unset;
                width: unset;
                height: unset;
                top: unset;
                left: unset;
                transition: unset; }
        .frontWrapper > main > .menuBlock > .profile {
          height: 100%;
          left: unset;
          top: unset;
          transform: unset; }
          .frontWrapper > main > .menuBlock > .profile > h2 {
            margin: 0 0 33px 45px;
            padding: 0; }
            .frontWrapper > main > .menuBlock > .profile > h2 > a::before {
              content: '01'; }
        .frontWrapper > main > .menuBlock > .portfolio {
          left: unset;
          top: unset;
          transform: unset; }
          .frontWrapper > main > .menuBlock > .portfolio > h2 > a::before {
            content: '02'; }
        .frontWrapper > main > .menuBlock > .blog {
          height: 100%;
          left: unset;
          top: unset;
          transform: unset; }
          .frontWrapper > main > .menuBlock > .blog > h2 {
            padding: 0; }
            .frontWrapper > main > .menuBlock > .blog > h2 > a::before {
              content: '03'; }
        .frontWrapper > main > .menuBlock > .contact {
          height: 100%;
          left: unset;
          top: unset;
          transform: unset; }
          .frontWrapper > main > .menuBlock > .contact > h2 > a::before {
            content: '04'; }

  .profileWrapper, .portfolioWrapper, .conWrapper {
    top: 0;
    width: 100%;
    z-index: 1; }

  .hideTopNav {
    width: 100%;
    height: 40px;
    z-index: 2; } }

/*# sourceMappingURL=media-540-767.css.map */
