@media (max-width: 1280px) and (min-width: 1025px){
  .frontWrapper{
    > main {
      > .helloBlock {
        left: -200px;
        top: -80px;
      }
      > .menuBlock {
        > .profile {
          width: 350px;
          height: 300px;
          left: 419px;
          top: -160px;
        }
        > .portfolio {
          width: 350px;
          height: 300px;
          left: 586px;
          top: 88px;
        }
        > .blog {
          width: 350px;
          height: 300px;
          left: 753px;
          top: 335px;
        }
        > .contact {
          width: 350px;
          height: 300px;
          left: 950px;
          top: 2px;
        }
      }
    }
  }
}