@media (max-width: 1024px) and (min-width: 980px){
  .frontWrapper{
    > main {
      > .helloBlock {
        left: -190px;
        top: -10px;
      }
      > .menuBlock {
        > .profile {
          height: 300px;
          left: 396px;
          top: -151px;
        }
        > .portfolio {
          left: 591px;
          top: 89px;
        }
        > .blog {
          height: 300px;
          left: 786px;
          top: 428px;
        }
        > .contact {
          left: 364px;
          top: 520px;
        }
      }
    }
  }
}